a {
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6, body {
  margin: 0;
}

.btn {
  border: none;
  background-color: transparent;
}

input[type=text], input[type=email] {
  border: none;
  outline: none;
  background-color: transparent;
}

.btn.gold {
  border: 1px solid #FFC492;
  color: #FFC492;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  padding: 12px 24px;
  background-color: transparent;
  transition: 0.5s;
  width: 25%;
  text-transform: capitalize;
}
.btn.gold:hover {
  border: 1px solid #FFC492;
  color: #FFC492;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  padding: 12px 24px;
  background-color: transparent;
  transition: 0.5s;
  width: 25%;
  text-transform: capitalize;
  background-color: #FFC492;
  color: #19161B;
  cursor: pointer;
}

.featuredBlogs .wrapper, .story .wrapper .story-block .story-card-block, .story .wrapper, .history .wrapper .text-block, .history .wrapper .history-card .history-card-content .container, .contact .wrapper, .blog .wrapper .container, .menu .wrapper .container .menu-card .menu-card-content, .menu .wrapper .container, .menu .wrapper .h2-p, .serving .wrapper .container, .serving .wrapper .h2-p, .aboutUs .wrapper .about-card-block, .aboutUs .wrapper .about-text .rating, .aboutUs .wrapper, .main .wrapper, footer .wrapper, footer nav, header .wrapper nav, header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  width: 1500px;
  margin: 0 auto;
}

h1 {
  font-size: 56px;
  font-weight: 700;
  font-family: "Playfair Display";
  color: #FFFFFF;
}

h2 {
  font-size: 48px;
  font-weight: 700;
  font-family: "Playfair Display";
  color: #FFFFFF;
}

h3 {
  font-size: 32px;
  font-weight: 700;
  font-family: "Playfair Display";
  color: #FFFFFF;
}

h4 {
  font-size: 20px;
  font-weight: 700;
  font-family: "Playfair Display";
  color: #FFFFFF;
}

h5 {
  font-size: 16px;
  font-weight: 400;
  font-family: "Playfair Display";
  color: #FFC492;
}

h6 {
  font-size: 24px;
  font-weight: 500;
  color: #C4E4EA;
  font-family: "Poppins";
}

p {
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins";
  color: #B8B8B8;
}

a {
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins";
  color: #FFFFFF;
  text-transform: capitalize;
}

body {
  background-color: #19161B;
}

section {
  margin-top: 160px;
}

header .wrapper {
  margin-top: 30px;
}
header .wrapper nav {
  gap: 50px;
}
header .wrapper nav .logo {
  display: flex;
  align-items: center;
}
header .wrapper nav .logo a {
  font-size: 18px;
  color: #FFC492;
  transition: 0.3s;
}
header .wrapper nav a {
  transition: 0.3s;
}
header .wrapper nav a:hover {
  color: #FFC492;
}
header .wrapper #a {
  color: #FFC492;
}

footer {
  margin-top: 160px;
}
footer .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .logo a {
  font-size: 18px;
  color: #FFC492;
  transition: 0.3s;
}
footer nav {
  justify-content: center;
  gap: 50px;
  margin-top: 45px;
  margin-bottom: 35px;
}
footer nav a {
  transition: 0.3s;
}
footer nav a:hover {
  color: #FFC492;
}
footer .line {
  background-color: #B8B8B8;
  height: 1px;
}
footer .wrapper {
  padding: 25px;
}
footer .wrapper .media {
  display: flex;
  width: 20%;
  gap: 25px;
}
footer .wrapper .media svg {
  transition: 0.4s;
}
footer .wrapper .media svg:hover {
  cursor: pointer;
  fill: #FFC492;
  scale: 1.1;
}
footer .wrapper .media svg:active {
  scale: 0.9;
}

.main .wrapper .text {
  width: 45%;
}
.main .wrapper .text p {
  margin: 16px 0 32px;
}
.main .wrapper .text .btn.gold {
  margin-bottom: 40px;
}
.main .wrapper .card {
  width: 45%;
}
.main .wrapper .card .cover {
  position: relative;
  width: 100%;
  padding-top: 100%;
}
.main .wrapper .card .cover img, .main .wrapper .card .cover .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.aboutUs {
  margin-top: 180px;
}
.aboutUs .wrapper .about-text {
  width: 42%;
}
.aboutUs .wrapper .about-text h2 {
  margin: 25px 0 30px;
}
.aboutUs .wrapper .about-text .rating {
  margin: 40px 0 35px;
  align-items: baseline;
}
.aboutUs .wrapper .about-text .rating .block {
  width: 25%;
}
.aboutUs .wrapper .about-text .rating .block .svg-p {
  display: flex;
  align-items: baseline;
  margin-bottom: 10px;
}
.aboutUs .wrapper .about-text .rating .block .svg-p svg {
  margin-right: 8px;
}
.aboutUs .wrapper .about-card-block {
  width: 40%;
}
.aboutUs .wrapper .about-card-block .about-card:first-child {
  padding-top: 95px;
}
.aboutUs .wrapper .about-card-block .about-card:last-child {
  padding-bottom: 80px;
}

.serving .wrapper .h2-p {
  margin: 25px 0 65px;
}
.serving .wrapper .h2-p h2 {
  width: 45%;
}
.serving .wrapper .h2-p p {
  width: 40%;
}
.serving .wrapper .container .serving-box {
  width: 24.6%;
  padding: 64px;
  background-color: rgba(0, 0, 0, 0.16);
}
.serving .wrapper .container .serving-box .circle {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background-color: rgba(255, 181, 119, 0.07);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
.serving .wrapper .container .serving-box h3 {
  margin-bottom: 15px;
}
.serving .wrapper .container .serving-box p {
  margin-bottom: 130px;
}
.serving .wrapper .container .serving-box p:last-child {
  margin-bottom: 0;
}

.menu .wrapper .h2-p {
  margin: 25px 0 33px;
}
.menu .wrapper .h2-p h2 {
  width: 35%;
}
.menu .wrapper .h2-p p {
  width: 35%;
}
.menu .wrapper h4 {
  font-size: 16px;
  color: #C4E4EA;
  margin-bottom: 80px;
}
.menu .wrapper .container {
  margin-bottom: 3%;
}
.menu .wrapper .container .menu-card {
  background-color: #1F1D21;
  width: 31.5%;
}
.menu .wrapper .container .menu-card .cover {
  position: relative;
  width: 100%;
  padding-top: 70%;
}
.menu .wrapper .container .menu-card .cover img, .menu .wrapper .container .menu-card .cover .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.menu .wrapper .container .menu-card .menu-card-content {
  padding: 24px 32px;
}
.menu .wrapper .container .menu-card .menu-card-content h4 {
  font-size: 20px;
  margin-bottom: 0;
  color: #FFFFFF;
  cursor: pointer;
  transition: 0.3s;
}
.menu .wrapper .container .menu-card .menu-card-content h4:hover {
  color: #FFC492;
}
.menu .wrapper .container .menu-card .menu-card-content h6 {
  font-size: 20px;
  color: #FFFFFF;
}
.menu .wrapper .btn.gold {
  margin: 0 auto;
  display: block;
  width: 13%;
}

.blog .wrapper .container {
  margin-top: 65px;
}
.blog .wrapper .container .blog-card {
  background-color: #1F1D21;
  width: 30%;
}
.blog .wrapper .container .blog-card .blog-card-content {
  padding: 32px;
}
.blog .wrapper .container .blog-card .blog-card-content h3 {
  margin: 10px 0 16px;
}
.blog .wrapper .container .blog-card .cover {
  position: relative;
  width: 100%;
  padding-top: 40%;
}
.blog .wrapper .container .blog-card .cover img, .blog .wrapper .container .blog-card .cover .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact .wrapper .contact-text {
  width: 25%;
  background-color: #1F1D21;
  padding: 80px 64px;
}
.contact .wrapper .contact-text p {
  width: 50%;
  margin: 10px 0 35px;
}
.contact .wrapper .contact-text p:last-child {
  margin-bottom: 0;
}
.contact .wrapper .contact-map {
  width: 75%;
}
.contact .wrapper .contact-map .cover {
  position: relative;
  width: 100%;
  padding-top: 48%;
}
.contact .wrapper .contact-map .cover img, .contact .wrapper .contact-map .cover .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu nav {
  display: flex;
  gap: 40px;
  margin: 145px 0 65px;
}
.menu nav a {
  font-size: 20px;
  font-weight: 700;
  font-family: "Playfair Display";
  color: #B8B8B8;
  transition: 0.3s;
}
.menu nav a:hover {
  color: #FFFFFF;
}

.history .wrapper .history-card {
  background-color: #1F1D21;
}
.history .wrapper .history-card .cover {
  width: 103.7%;
  background: linear-gradient(97.28deg, rgba(25, 22, 27, 0.92) 34.6%, rgba(25, 22, 27, 0) 83.17%), url(../img/history.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  padding: 124px 80px;
}
.history .wrapper .history-card .cover .h-p {
  width: 28%;
}
.history .wrapper .history-card .cover .h-p #new {
  color: #FFC492;
  font-size: 48px;
  font-weight: 700;
  font-family: "Playfair Display";
}
.history .wrapper .history-card .cover .h-p p {
  margin-top: 25px;
}
.history .wrapper .history-card .history-card-content {
  padding: 80px;
}
.history .wrapper .history-card .history-card-content .line {
  border: none;
  border-top: 3px dotted #B8B8B8;
  color: #19161B;
  background-color: #19161B;
  height: 1px;
  margin: 70px 0 30px;
}
.history .wrapper .history-card .history-card-content .container .history-block {
  width: 20%;
}
.history .wrapper .history-card .history-card-content .container .history-block h6 {
  font-weight: 600;
  font-size: 32px;
  color: #FFFFFF;
}
.history .wrapper .history-card .history-card-content .container .history-block h4 {
  margin: 19px 0 19px;
}
.history .wrapper .text-block {
  align-items: baseline;
  margin-top: 165px;
}
.history .wrapper .text-block h2 {
  width: 40%;
}
.history .wrapper .text-block .h3-p {
  width: 40%;
}
.history .wrapper .text-block .h3-p h3 {
  margin-bottom: 25px;
}

.story .wrapper {
  align-items: baseline;
}
.story .wrapper .story-block {
  width: 40%;
}
.story .wrapper .story-block p {
  margin: 25px 0 35px;
}
.story .wrapper .story-block a {
  font-size: 32px;
  font-weight: 700;
  font-family: "Playfair Display";
  color: #FFC492;
}
.story .wrapper .story-block .story-card-block {
  width: 90%;
}
.story .wrapper .story-block .story-card-block .story-card:first-child {
  padding-top: 95px;
}
.story .wrapper .story-block .story-card-block .story-card:last-child {
  padding-bottom: 80px;
}

.featuredBlogs .wrapper .blog-box {
  width: 50%;
}
.featuredBlogs .wrapper .blog-box .blog-cover {
  position: relative;
  width: 100%;
  padding-top: 100%;
  background: rgba(20, 17, 21, 0.81);
}
.featuredBlogs .wrapper .blog-box .blog-cover img, .featuredBlogs .wrapper .blog-box .blog-cover .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*# sourceMappingURL=style.css.map */
